html {
  overflow-x: hidden;
}

body {
  background-color: rgb(233, 230, 230);
}

.panel-home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
    height: 600px;
}



.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 1000px;
  width: 600px;
  border-radius: 10px;
}

.right-arrow {
  position:absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.left-arrow {
  position:absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}


.slide {
  opacity: 0;
  transition-duration: 1s ease;

}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: #4de8f4;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  height: 600px;
  width: 400px;
  margin: 10px;
  padding: 10px;
  padding-bottom: 0px;
}

.bottomBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-self: flex-end;
  align-items: center;
  margin-top: auto;
  background-color: transparent;
}

.logo-container {
  justify-self: flex-start;
}

.share-container {
  justify-self: flex-end;
}

.share {
  margin: 3px;
  padding: 2px;
}

.searchBox {
  display: flex;
  background-color: pink;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.search {
  width: 500px;
  height: 40px;
  margin: 20px auto;
  background: #444;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  border: 1px solid #fff;
}
.search input {
  width: 370px;
  padding: 10px 5px;
  float: left;
  color: rgb(255, 255, 255);
  border: 0;
  background: transparent;
  border-radius: 3px 0 0 3px;
}
.search input:focus {
  outline: 0;
  background: transparent;
}
.search button {
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 120px;
  color: #fff;
  background: transparent;
  border-left: 1px solid #fff;
  border-radius: 0 3px 3px 0;
}
.search button:hover {
  background: #fff;
  color: #444;
}
.search button:active {
  box-shadow: 0px 0px 12px 0px #e1e1e1;
}
.search button:focus {
  outline: 0;
}
.creators_panel {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: pink;
  width: 100%;
  height: 100%;
}

.title_text {
  margin: 10px;
  margin-left: 15px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.creator_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px;
}

.rank_number {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 28px;
  margin: 10px;
  align-self: center;
}
.creater_username {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 12px;
  margin: 10px;  
  align-self: center;
}
#hashtag_number {
  margin: 5px;
  font-size: 13px;
}

.hashtags_panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hashtags_column {
  display:flex;
  flex-direction: column;
  width: 50%;
}

.hashtag_video {
  display:flex;
  flex-direction: column;
  width: 50%;
  margin-top: 15px;
  margin: 15px;
}

.sounds_panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sounds_column {
  display:flex;
  flex-direction: column;
  width: 100%;
}

.sounds_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px;

}

.score_panel {
  height: 100%;
}

.score_slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: pink;
  padding: 10px;
  margin: 20px; /*space between*/
}

.score_name {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.meter { 
  height: 15px; 
  position: relative;
  background: #555;
  border-radius: 25px;
  padding: 7px;
  margin: 10px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(62, 197, 231);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}

@keyframes expandWidth {
  0% { width: 0; }
  100% { width: auto; }
}